body {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Menutupi seluruh viewport vertikal */

}

p {
font-size: 15px;
}
h1 {
text-transform: uppercase;
font-weight: 500;
}


/*                      HEADER                          */
.page-header {
  font-weight: bold;
  font-size: 24px; 
}

/* pengaturan responsif untuk mobile devices */
@media screen and (max-width: 768px) {
  .page-header {
    font-size: 18px;
  }
  
  /* pengaturan responsif navbar-brand untuk mobile view */
  .navbar-brand {
    font-size: 18px;
  }
}

/*                      NAVBAR                           */
.navbar {
  background-color: #454545;
  font-size: large;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  border: none;
  height: 70px;
  position: fixed; /* agar navbar tetap menempel di atas */
  top: 0; /* agar navbar tetap menempel di atas */
  width: 100%; /* agar navbar menutupi seluruh lebar halaman */
  z-index: 1; /* z-index agar navbar tidak tertutup konten */
}
.navbar-header .navbar-brand {
  color: whitesmoke;
  margin-top: 10px;
}

.dropdown {
  background-color: #454545;
  width: 100%;
}
.dropdown-user { /* NAVBAR LOGOUT UNTUK USER */
  background-color: #454545;
} 
.dropdown-toggle { /* NAVBAR KANAN UNTUK USER */
  color: whitesmoke;
  margin-top: 10px;
}

.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 100px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.sidebar {
  background-color: #D9D9D9;
  text-align: center;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar ul li {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.sidebar ul li a.active {
  background-color: whitesmoke;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 200px;
    
    margin-top: 70px;
  }
  .navbar-top-links {
    margin-left: auto;
  }
}

/* Adjust the button width on larger screens */
@media (min-width: 768px) {
  .card .dropdown .btn {
    width: 100%; /* Set the button width to 100% of the parent container (card) */
  }
}

/* Adjust the button width on smaller screens */
@media (max-width: 767px) {
  .card .dropdown .btn {
    width: auto; /* Allow the button to take its natural width on smaller screens */
  }
}

/* Adjust the button text on smaller screens */
@media (max-width: 991px) {
  .card .dropdown .btn {
    width: 100%; /* Set the button width to 100% of the parent container (card) */
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) to indicate that the text is truncated */
  }
}


/*                      KONTEN                           */
.content {
  padding-top: 50px; /* Tambahkan padding agar konten tidak tertutup oleh navbar */
  padding-bottom: 50px; /* Add bottom padding to create space between cards and footer */
  flex: 1; /* Konten akan memenuhi sisa tinggi halaman */
}

.container-fluid {
  padding: 20px;
}

/* Float three columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  background-color: #454545;
}

/* CSS untuk sub-menu */
.nav-second-level {
  display: none; /* Sembunyikan sub-menu secara default */
  
}

/* CSS untuk tampilan sub-menu saat menu utama dihover */
#side-menu li:hover .nav-second-level {
  display: block; /* Tampilkan sub-menu saat menu utama dihover */
}

/* CSS untuk tampilan tombol panah pada sub-menu */
#side-menu .nav-second-level .fa.arrow {
  position: absolute;
  right: 15px;
  top: 10px;
}

/* Tampilkan sub-menu saat tombol menu di-klik pada perangkat mobile */
@media (max-width: 767px) {
  #side-menu li .nav-second-level {
    display: none;
    position: static; /* Override the absolute positioning for mobile */
  }
  
  #side-menu li.active .nav-second-level {
    display: block; /* Tampilkan sub-menu pada menu yang aktif */
  }
}

.dropdown-menu{
width: 100%;
height: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
background-color: #D8D9DA;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  color: black;
  float: left;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #f1f1f1;
  border: 2px solid #454545; /* Border color */
  border-radius: 5px; /* Rounded corners */
}
.card h3 {
  font-weight: bold;
  display: inline-block;
}

.text-center {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}

.card-footer {
  padding: 10px;
  margin-top: 20px;
  text-align: left;
  background-color: #454545;
}

/* CSS untuk mengubah warna link menjadi putih */
.card-footer a {
  color: white;
  text-decoration: none; /* Hapus garis bawah dari links */
}

/* Hover effect untuk links */
.card-footer a:hover {
  color: #D8D9DA; /* Warna berubah pada hover */
}

.text-left {
  padding-top: 25px;
  text-align: left;
}
/* Atur margin bottom pada section untuk memberi ruang agar footer tidak menutupi konten */
section {
  margin-bottom: 60px; /* Sesuaikan nilai sesuai kebutuhan */
}

/* RESPONSIVE ADJUSTMENTS */
@media (min-width: 768px) {
  .content {
    margin-left: 250px; /* Sidebar width */
  }
}


/*                      FOOTER                           */
footer {
  text-transform: uppercase;
  padding: 20px;
  color: whitesmoke;
  background-color: #454545;
  text-align: center;
  font-weight: bold;
  position: fixed; /* Tambahkan agar footer tetap berada di bawah */
  bottom: 0; /* Tambahkan agar footer tetap berada di bawah */
  left: 0;
  width: 100%; /* Tambahkan agar footer menutupi seluruh lebar halaman */
  /* z-index: 999; /* Tambahkan agar footer menutupi seluruh lebar halaman */
}

footer p{
 text-align: center;
}