body {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Menutupi seluruh viewport vertikal */
}

p {
  font-size: 15px;
}
h1 {
  text-transform: uppercase;
  font-weight: 500;
}

/*                      HEADER                          */
.page-header {
  font-weight: bold;
  font-size: 24px;
}

/* pengaturan responsif untuk mobile devices */
@media screen and (max-width: 768px) {
  .page-header {
    font-size: 18px;
  }

  /* pengaturan responsif navbar-brand untuk mobile view */
  .navbar-brand {
    font-size: 18px;
  }
}

/*                      NAVBAR                           */
.navbar {
  background-color: #454545;
  font-size: large;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  border: none;
  height: 70px;
  position: fixed; /* agar navbar tetap menempel di atas */
  top: 0; /* agar navbar tetap menempel di atas */
  width: 100%; /* agar navbar menutupi seluruh lebar halaman */
  z-index: 1; /* z-index agar navbar tidak tertutup konten */
}
.navbar-header .navbar-brand {
  color: whitesmoke;
  margin-top: 10px;
}

.dropdown {
  background-color: #454545;
  width: 100%;
}
.dropdown-user {
  /* NAVBAR LOGOUT UNTUK USER */
  background-color: #454545;
}
.dropdown-toggle {
  /* NAVBAR KANAN UNTUK USER */
  color: whitesmoke;
  margin-top: 10px;
}

.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 100px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.sidebar {
  background-color: #d9d9d9;
  text-align: center;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar ul li {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.sidebar ul li a.active {
  background-color: whitesmoke;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 200px;

    margin-top: 70px;
  }
  .navbar-top-links {
    margin-left: auto;
  }
}

/*                      KONTEN                           */
.content {
  padding-top: 50px; /* padding agar konten tidak tertutup oleh navbar */
  padding-bottom: 50px;
  flex: 1; /* Agar konten memenuhi sisa tinggi halaman */
}

.container-fluid {
  padding: 20px;
}

/* Float three columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Menghilangkan extra left dan right margins hasil padding */
.row {
  margin: 0 -5px;
}

/* Hapus floats setelah column */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Agarmargin bottom pada section untuk memberi ruang agar footer tidak menutupi konten */
section {
  margin-bottom: 60px;
}

/* CSS untuk mengubah warna link menjadi putih */
.card-footer a {
  color: white;
  text-decoration: none; /* Hapus garis bawah dari links */
}

/* Hover effect untuk links */
.card-footer a:hover {
  color: #d8d9da; /* Warna berubah pada hover */
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  color: black;
  float: left;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #f1f1f1;
  border: 2px solid #454545; /* Border color */
  border-radius: 5px; /* Rounded corners */
}
.card h3 {
  font-weight: bold;
  display: inline-block;
}

.text-center {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}

.card-footer {
  padding: 10px;
  margin-top: 20px;
  text-align: left;
  background-color: #454545;
}

/* RESPONSIVE ADJUSTMENTS */
@media (min-width: 768px) {
  .content {
    margin-left: 250px; /* Sidebar width */
  }
}

/*                      FOOTER                           */
footer {
  text-transform: uppercase;
  padding: 20px;
  color: whitesmoke;
  background-color: #454545;
  text-align: center;
  font-weight: bold;
  position: fixed; /* agar footer tetap berada di bawah */
  bottom: 0; /* agar footer tetap berada di bawah */
  left: 0;
  width: 100%; /* agar footer menutupi seluruh lebar halaman */
  /* z-index: 999; /* agar footer menutupi seluruh lebar halaman */
}

footer p {
  text-align: center;
}
